<div
  class="bg-neutral-n0 w-100 my-0 mx-auto flex flex-col justify-start items-center py-5 px-10"
  *ngIf="bookingSuccess$ | async as bookingSuccess"
>
  <ds-icon
    [name]="icons.Checkmark"
    [color]="iconColors.Success300"
    [size]="48"
    [title]="'CALENDAR.PREVIOUS_MONTH' | translate"
  ></ds-icon>
  <h3 class="text-neutral-n500 font-medium mt-5 break-words w-full text-center">
    {{ 'BOOKING.BOOKING_CONFIRMATION.BOOKING_NAME' | translate: { bookingName: bookingSuccess.name } }},
    {{ 'BOOKING.BOOKING_CONFIRMATION.BOOKING_CONFIRMED' | translate }}
  </h3>
  <h4 class="font-medium mt-5">
    {{ bookingSuccess.dayTitle | date: 'fullDate' }} - {{ bookingSuccess.timeSlot | timeSlot }}
  </h4>
  <p class="text-neutral-n500 mt-5">{{ 'BOOKING.BOOKING_CONFIRMATION.CALENDAR_INVITATION_SENT' | translate }}</p>
  <a class="cursor-pointer underline mt-3 text-base" href="#">{{
    'BOOKING.BOOKING_CONFIRMATION.SEND_CONFIRMATION_EMAIL_AGAIN' | translate
  }}</a>
  <div class="my-5" *ngIf="bookingSuccess.meetingTypeDetail?.id === meetingTypeIds.Zoom">
    <h4 class="font-medium my-3 text-center">{{ 'BOOKING.BOOKING_CONFIRMATION.LINK_TO_ZOOM_MEETING' | translate }}</h4>
    <ds-copy-info-box
      [copyText]="bookingSuccess.zoomLink"
      (click)="copyZoomLink(bookingSuccess.zoomLink)"
    ></ds-copy-info-box>
  </div>
  <div class="my-5" *ngIf="bookingSuccess.meetingTypeDetail?.id === meetingTypeIds.Inbound">
    <h4 class="font-medium my-3 text-center">{{ 'BOOKING.BOOKING_CONFIRMATION.VENDOR_PHONE_NUMBER' | translate }}</h4>
    <ds-copy-info-box
      [copyText]="bookingSuccess.vendorPhoneNumber"
      (click)="copyPhone(bookingSuccess.vendorPhoneNumber)"
    ></ds-copy-info-box>
  </div>
  <div class="mt-3 flex justify-start flex-row mobile-view:flex-col">
    <button dsButton="default" class="mr-2 mobile-view:w-full" (click)="downloadICS(bookingSuccess.appointmentId)">
      {{ 'BOOKING.BOOKING_CONFIRMATION.DONWNLOAD_ICS' | translate }}
    </button>
    <button
      dsButton="default"
      class="mobile-view:w-full mobile-view:mt-3"
      [disabled]="(isBookingSynced$ | async) === true"
      (click)="saveToGoogleCalendar()"
    >
      {{ 'BOOKING.BOOKING_CONFIRMATION.SAVE_TO_GOOGLE_CALENDAR' | translate }}
    </button>
  </div>
  <div class="flex flex-row justify-center mt-3">
    <ds-spinner
      [color]="spinnerColor"
      class="mx-auto"
      *ngIf="(downloadClientICSPending$ | async) || (getAuthenticationUrlPending$ | async)"
      [size]="30"
    ></ds-spinner>
  </div>
</div>
